[Unit]
Description=Easy eGPU Enable
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/egpu-enable
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
